{% extends "blogs/base.html" %}

{% block page_header %} 
  <h1>Blog posts</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for post in posts %}
      <li><h3>
        <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a> 
        {% if request.user == post.owner %} 
          - <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
        {% endif %}
      </h3></li>
    {% empty %}
      <li><h3>No posts have been created yet</h3></li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'blogs:new_post' %}">Add a new post:</a></h3>
{% endblock content %}